<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> About Me: Jennifer Vo</h1>
    <!-- general about me section to briefly describe myself -->
    <h2> General </h2>
    <p> Hello everyone! My name is Jennifer Vo and I am currently a <strong>senior at the University of Maryland</strong> double majoring in Information Systems and Marketing. My family is from Vietnam, so I love <em>sharing my culture and learning about other cultures</em> as well. I was born and raised in Maryland, so I am a proud Terp! I am looking forward to making the most of my senior year before I graduate and then enter the real world! </p>
    <table>
        <tr>
            <th> Year </th>
            <th> Semester </th>
            <th> Class </th>
        </tr>
        <tr>
            <td> 2026 </td>
            <td> Spring </td>
            <td> BMGT403 </td>
        </tr>
        <tr>
            <td> 2025 </td>
            <td> Fall </td>
            <td> BMGT402 </td>
        </tr>
        <tr>
            <td> 2025 </td>
            <td> Spring </td>
            <td> BMGT302 </td>
        </tr>
    </table>
    <h2> Interests and Fun Facts </h2>
    <!-- now i talk about my interests and where i've traveled -->
    <p> Some of my <strong>hobbies</strong> include: </p>
    <ul>
        <li> Baking </li>
        <li> Crocheting </li>
        <li> Painting nails </li>
        <li> Trying new foods</li>
    </ul>
    <p> Traveling is also one of my favorite activities. I love traveling with friends and family. It is so fun to <em>explore new places and try their local dishes.</em> I've only traveled internationally a bit, but I hope to go to more destinations in the future. I also love collecting souvenirs, whenever I travel to commemorate the trip.</p>
    <p> Here is a list of the top places I've been to so far! </p>
    <ol>
        <li> Tokyo, Japan </li>
        <li> Seoul, South Korea </li>
        <li> Saigon, Vietnam </li>
    </ol>
    <h2> My Favorite Sites </h2>
    <!-- here I added links to my favorite sites -->
    <p> A link to my <a href="/hello.html">Hello route</a>.</p>
    <p> A link to <a href="https://www.youtube.com/">Youtube</a>.</p>
    <p> A link to <a href="https://open.spotify.com/" target="blank">Spotify</a>.</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith logo" >
</body>
</html>